<!-- DATA BINDING -->
<!--  -->
<!-- El data binding permite que la aplicacion sea reactiva,
es decir que al momento de realizar una accion  se obtenga
una respuesta de manera inmediata. en el siguibete ejemplo 
pòdemos obserbar como con ngModel pasamos la informacion del 
input de texto hacia el string "title", y a su misma ves 
imprimimos este string con la funcion string interpolation,
de esta manera la respuesta es inmediata. -->
<h1>Data Binding</h1>
<input type="text" [(ngModel)]="title">
<!-- data binding -->
<p>{{title}}</p>
<!-- string interpolation -->
<!--  -->
<!--  -->
<!-- ngIf CONDICIONAL -->
<!--  -->
<H1>CONDICIONAL IF</H1>
<p>condicional del recuadro (celular)</p>
<div *ngIf="title === 'celular'; else var1">
  <!-- sentencia para un if -->
  android
</div>
<ng-template #var1>
  <div> no escribiste celular!</div>
</ng-template>
<p>______________________________</p>
<button (click)="show = !show">cambio</button> {{show}}
<p *ngIf="show; else shows">si funciona</p>
<ng-template #shows>
  <p>no funciona</p>
</ng-template>
<!--  -->
<!-- CICLO FOR -->
<!--  -->
<H1>CICLO FOR</H1>
<!--  -->
<!-- agregar a la lista -->
<h2>fila</h2>
<button (click)="addItem1()">addItem1</button>
<button (click)="addItem()">addItem2</button>
<button (click)="deleteItem()">deleteItem1</button>
<button (click)="deleteItem1()">deleteItem2</button>
<!-- borrar de la lista -->
<!--  -->
<ul>
  <li>{{items1}}</li> <!-- IMPRIME TODO EL STRING -->
  <p>______</p>
  <li>{{items1[0]}}</li> <!-- IMPRIME LA POSICION 0 DEL STRING -->
  <p>______</p>
  <li *ngIf="items1.length === 0"> la lista esta vacia</li>
<!-- mostrar posiciones de un array -->
  <li *ngFor="let i of items1">
    {{i}}
  </li>
  <p>______</p>
  <!-- esta es una iteracion normal de un array -->
  <li *ngFor="let i of items1; index as e">
    {{i}} {{e}}
  </li>
  <!-- imprimimos las posiciones del aray -->
  <p>______</p>
  <li *ngFor="let item of items1; index as i">
    {{i+1}}/{{items1.length}}. {{item}}
  </li>
  <p>______</p>
  <li *ngFor="let item of items1; index as i; odd as e">
    <span *ngIf="e === true">{{item}}</span>
  </li>
</ul>

<div *ngFor="let product of products">
  {{product.title}}
  <img [src]="product.image" alt=""> <!-- se coloca la etiqueta img para que html la reconosca y se utilizan [] en el src para modificar la etiqueta-->
  {{product.id}}
  {{product.price}}
  {{product.description}}

</div>